<form action="/signup" method="POST">

    
    <input type="text" name="name" placeholder="Enter Full Name Here" />
    <input type="text" name="username" placeholder="Enter User Name Here" />
    <input type="password" name="password" placeholder="Enter User Password" />
  
    <button type="submit">Sign-Up</button>
  </form>
  