<div class="signup">


<h1>WELCOME TO SOUMYA"S ONLINE STORE !
    <br>
     Please Login or Sign up</h1>
<div class="logbtn">
    
<a href="/login">
  <button>Login</button>
</a>


<a href="/signup">
  <button>SignUp</button>
</a>
</div>
</div>