
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Soumya's Online Store</title>
    <script defer src="/app.js"></script>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    
    <ul id="nav">
    <li>
        <a href="/">Home</a>
    </li>
    <li>
        <a href="/login">Login</a>
    </li>
    <li>
        <a href="/product">Products</a>
    </li>
    <li>
        <a href="/product/order">My Orders</a>
    </li>
    <li>
        <a href="/logout">Logout</a>
    </li>
</ul>

            <%- body %>
            
            <img class="bodyimg" src="https://t3.ftcdn.net/jpg/03/77/85/44/360_F_377854446_cciGJ5NRvNB7JybUtADD8VBItHzp3AwV.jpg" alt="main image">
            <footer><h2>Soumya's Online Store &copy; 2023</h2></footer>
   
      
  </body>
</html>