<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Despatch App</title>
    <script defer src="app.js"></script>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <h1>'WELCOME TO DESPATCH LOG !'</h1>
    <h2>hello khushi how are you guiyaaaaa</h2>
    <h1>get well soon beta ,,, i love you mela batta</h1>
</body>
</html>