body{
    background-color: rgba(237, 39, 128, 0.952);
}
h1{
    color: rgb(19, 227, 203)
    
}
.signup{
    border-radius: 20px;
    background-color: rgb(14, 92, 83);
    text-align: center;
    margin: 50px;
    padding: 20px;
}
img{
    border-radius: 30px;
    padding: 20px;
    margin: 80px;
    height: 450px;
    width: 800px
    

}
.logbtn{
    justify-content: center;
    background-color: blanchedalmond;
    width: 150px;
    padding: 20px;
    margin: 10px;
}