body{
    background-color: rgba(237, 39, 128, 0.952);
}
h1{
    color: rgb(19, 227, 203)
    
}
#nav {
    display: flex;
    border-radius: 20px;
    justify-content: space-around;
    list-style-type: none;
    background-color: rgb(220, 154, 207);
    margin: 20px;
    padding: 40px
  }
.signup{
    border-radius: 20px;
    background-color: rgb(14, 92, 83);
    text-align: center;
    margin: 50px;
    padding: 20px;
}
.bodyimg{
    border-radius: 15px;
    margin: 100px;
    height: 80%;
    width: 80%;
    

}

.logbtn{
    justify-content: center;
    background-color: blanchedalmond;
    width: 150px;
    padding: 20px;
    margin: 10px;
}
.proimg{
    border-radius: 15px;
    margin: 80px;
    height: 200px;
    width: 200px

}

.productitem{
    flex-grow: 4;

}
h2{
    color: white
}
