body{
    background-color: rgba(237, 39, 128, 0.952);
}
h1{
    color: rgb(228, 232, 31)
    
}
#nav {
    display: flex;
    border-radius: 20px;
    justify-content: space-around;
    list-style-type: none;
    background-color: rgb(220, 154, 207);
    margin: 20px;
    padding: 40px
  }
  .productcontainer{
   justify-content: center;
   background-color: rgb(14, 161, 55);
    text-align: center;
    border-radius: 20px;
    margin: 80px;
    padding: 100px;
    border: 20px solid rgb(116, 7, 72);
  }
  .ordercontainer{
    background-color: rgb(14, 161, 55);
    text-align: center;
    border-radius: 20px;
    margin: 80px;
    padding: 100px;
    border: 15px solid rgb(116, 7, 72);

  }
  .ordercontainer img{
    border-radius: 10px;
    border: 5px solid gray;
  }
  .mainordercontainer{
    display: flex;
    justify-content: center;
  }
  #ordertotal{
    text-align: center;
  }
.signup{
    border-radius: 20px;
    background-color: rgb(14, 92, 83);
    text-align: center;
    margin: 50px;
    padding: 20px;
}
.bodyimg{
    border-radius: 15px;
    margin: 100px;
    height: 80%;
    width: 80%;
    }

.logbtn{
    display: flex;
    justify-content: space-around;
    background-color: blanchedalmond;
    border-radius: 10px;
    width: 150px;
    padding: 20px;
    margin: 40px;
}
.proimg{
    border-radius: 15px;
    border: 10px solid gray;
    margin: 80px;
    height: 450px;
    width: 450px

}

.productitem{
    flex-grow: 4;

}
h2{
    color: white
}
h3{
    color:  rgb(228, 232, 31)
}
.editdelbtn{
    display: flex;
    justify-content:space-between;
    background-color: blanchedalmond;
    border-radius: 10px;
    width: 150px;
    padding: 20px;
    margin: 10px;
    

}
#deledit{
    display: flex;
    justify-content: center;
}
.thanks{
    border-radius: 20px;
    background-color: rgb(14, 92, 83);
    text-align: center;
    margin: 50px;
    padding: 20px;
    border: 10px solid rgb(10, 158, 111)
}

.addToOrderBtn{
    background-color: blanchedalmond;
    border-radius: 10px;
    width: 400px;
    padding: 20px;
    margin: 30px;
    border: 10px solid rgb(12, 96, 28);
}
#producteditbtn{
  background-color: blanchedalmond;
    border-radius: 10px;
    width: 400px;
    padding: 20px;
    margin: 30px;
    border: 10px solid rgb(12, 96, 28);

}
#editedproduct{
  height: 200px;
  text-decoration: wavy;
  border-radius: 20px;
  background-color: rgb(14, 92, 83);
  text-align: center;
  margin: 80px;
  padding: 50px;
  border: 10px solid rgb(10, 158, 111)


}
.submitbtn{
    display: flex;
    justify-content: space-around;
    background-color: blanchedalmond;
    border-radius: 10px;
    width: 600px;
    padding: 20px;
    margin: 30px;
    border: 10px solid  rgb(12, 96, 28)
}



#addToOrderBtn h2{
    color: rgb(14, 92, 83);
}

/*----------------media query-------------------*/
@media (max-width: 480px){
    .ordercontainer img{
        height: 100px;
        width: 100px;
        border-radius: 5px;
      
      }
      body{
        background-color: rgba(237, 39, 128, 0.952);
      }
      .productcontainer{
        text-align: justify;
        border: 8px solid rgb(116, 7, 72)
      }
      .productcontainer img{
        height: 100px;
        width: 100px;
        border-radius: 8px;
        border: 5px solid gray

      }
    

}
