
<img
src="https://t3.ftcdn.net/jpg/03/77/85/44/360_F_377854446_cciGJ5NRvNB7JybUtADD8VBItHzp3AwV.jpg"
alt=""
class="src"
/>


<% [{name: "Jeans"}, { name: "Shirts"}, { name: "Trousers"}].forEach( product => { %>

<h1>
    <%= product.name %>
 </h1> 



<% }) %>