



            <% products.forEach( product => { %>
    <img class="proimg" src="<%= product.image %>" alt="<%= product.name %>">

    <h1>
        <%= product.name %>
    </h1> 
    <h2>
        <%= product.description %>
    </h2>
    <% }) %>

       

